<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Recording</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/default.css" id="theme-color">
  </head>
  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
  </script>
  <body>
    <!--navigation-->
<section class="smart-scroll">
  <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-dark">
          <a class="navbar-brand heading-black" href="/">
              Recording!
          </a>
          <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                  data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                  aria-label="Toggle navigation">
              <span data-feather="grid"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link page-scroll" href="#help">Help</a>
                  </li>
                  <li class="nav-item">
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</section>

    <div class="wrapper">

      <header>
        <h1>Let's do it :)</h1>
      </header>

      <section class="top-display">
	<div class="directions">
	  Press Record to start.
	  <br/>
	  Record yourself saying only the word in the box below.
	  <br/>
	  Press Stop to stop recording, and when all the requested words are completed you'll be able to upload the recordings.
	</div>
	<div class="progress-display">
	</div>
	<div class="info-display">
	</div>
      </section>

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
          <button class="upload">Upload</button>
        </div>
      </section>

      <section class="sound-clips">

        <!-- This is left here as a helper for testing the style of the clips
        If you want to edit their appearance without having to record clips,
        uncomment this and reload the page. Remember to comment it again when done!
        <article class="clip">
          <audio controls></audio>
          <p>Sample clip name</p>
          <button class="delete">Delete</button>
        </article>
        -->

      </section>

    </div>

    <script src="static/scripts/app.js"></script>

  </body>
</html>
